{% extends 'AdmingeneratorGeneratorBundle::base_uncompressed.html.twig' %}


{% block title %}MRP{% endblock %}

{% block brand_text %}MRP{% endblock %}


{% block stylesheets %}
    {{ parent() }}

    {% include 'AdmingeneratorFormExtensionsBundle::stylesheets.html.twig' %}
   
    {% if form is defined and form is not empty %}
        {{ form_css(form) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% include 'AdmingeneratorFormExtensionsBundle::javascripts.html.twig' %}
  {% if form is defined and form is not empty %}
    {{ form_js(form) }}
  {% endif %}
{% endblock %}
    

    {% block header %}
        
    {% endblock header %}

{% block page %}
            <aside class="content-wrapper">
                {% block page_header %}
                <section class="content-header">
                    {% block page_header_content '' %}
                </section>
                {% endblock page_header %}
                <section class="content">
                    {{ block('flash_messages') }}
                    {% block page_content '' %}
                </section>
            </aside>
        {% endblock page %}


