    <div class="col-md-12 list-results-container no-filters">
            <div class="box box-primary">
            <div class="box-header list-header list-nb-results clearfix">    {% block list_nbresults %}
        <h3 class="box-title">
            {% block list_nbresults_text %}
                {% set count = Inventorys.nbResults %}
                {% set start = ( Inventorys.currentPage - 1 ) * Inventorys.maxPerPage + 1 %}
                {% set end = start + Inventorys.maxPerPage - 1 %}
                {% set end = end > count ? count : end %}

                {% if Inventorys.haveToPaginate %}
                {{ "list.display.range"|trans({'%start%': start,'%end%': end,'%count%': count,}, "Admingenerator")|raw }}
                {% elseif  count > 1  %}
                {{ "list.display.all"|trans({'%count%': count,}, "Admingenerator")|raw }}
                {% else %}
                {{ "list.display.one"|trans({'%count%': count,}, "Admingenerator")|raw }}
                {% endif %}
            {% endblock list_nbresults_text %}
        </h3>
    {% endblock list_nbresults %}
            </div>
                {% block form_batch_actions %}
            {% endblock form_batch_actions %}

                <div class="box-body table-responsive no-padding list-results">
                    <table id="table-list-inventory" class="table table-hover object-actions-inventory">
                            {% block list_thead %}
    <thead>
        {% block list_thead_inner %}
                <tr role="row" class="list-results-fields-header">
                    {% block list_thead_column_material %}        {% if (true) %}
        <th class="list-results-fields-header-column list-results-fields-header-column-material{% if 1 %} sorting{% if sortColumn == 'material.name' and sortOrder == 'ASC' %}_asc{% elseif sortColumn == 'material.name' and sortOrder == 'DESC' %}_desc{% endif %}{% endif %}">
        {% if sortColumn == 'material.name' and sortOrder == 'ASC' %}
                <a href="{{ path(listRoute, { 'sort': 'material.name', 'order_by': 'desc'}) }}" class="">
            {% else %}
                <a href="{{ path(listRoute, { 'sort': 'material.name', 'order_by': 'asc'}) }}" class="">
            {% endif %}{{ 'Наименование материала'|trans({}, 'Admin') }}</a>
        </th>
            {% endif %}
        {% endblock list_thead_column_material %}

            {% block list_thead_column_date %}        {% if (true) %}
        <th class="list-results-fields-header-column list-results-fields-header-column-date{% if 1 %} sorting{% if sortColumn == 'date' and sortOrder == 'ASC' %}_asc{% elseif sortColumn == 'date' and sortOrder == 'DESC' %}_desc{% endif %}{% endif %}">
        {% if sortColumn == 'date' and sortOrder == 'ASC' %}
                <a href="{{ path(listRoute, { 'sort': 'date', 'order_by': 'desc'}) }}" class="">
            {% else %}
                <a href="{{ path(listRoute, { 'sort': 'date', 'order_by': 'asc'}) }}" class="">
            {% endif %}{{ 'Дата'|trans({}, 'Admin') }}</a>
        </th>
            {% endif %}
        {% endblock list_thead_column_date %}

            {% block list_thead_column_beforeinventory %}        {% if (true) %}
        <th class="list-results-fields-header-column list-results-fields-header-column-beforeinventory{% if 1 %} sorting{% if sortColumn == 'beforeInventory' and sortOrder == 'ASC' %}_asc{% elseif sortColumn == 'beforeInventory' and sortOrder == 'DESC' %}_desc{% endif %}{% endif %}">
        {% if sortColumn == 'beforeInventory' and sortOrder == 'ASC' %}
                <a href="{{ path(listRoute, { 'sort': 'beforeInventory', 'order_by': 'desc'}) }}" class="">
            {% else %}
                <a href="{{ path(listRoute, { 'sort': 'beforeInventory', 'order_by': 'asc'}) }}" class="">
            {% endif %}{{ 'До инвентаризации'|trans({}, 'Admin') }}</a>
        </th>
            {% endif %}
        {% endblock list_thead_column_beforeinventory %}

            {% block list_thead_column_afterinventory %}        {% if (true) %}
        <th class="list-results-fields-header-column list-results-fields-header-column-afterinventory{% if 1 %} sorting{% if sortColumn == 'afterInventory' and sortOrder == 'ASC' %}_asc{% elseif sortColumn == 'afterInventory' and sortOrder == 'DESC' %}_desc{% endif %}{% endif %}">
        {% if sortColumn == 'afterInventory' and sortOrder == 'ASC' %}
                <a href="{{ path(listRoute, { 'sort': 'afterInventory', 'order_by': 'desc'}) }}" class="">
            {% else %}
                <a href="{{ path(listRoute, { 'sort': 'afterInventory', 'order_by': 'asc'}) }}" class="">
            {% endif %}{{ 'После инвентаризации'|trans({}, 'Admin') }}</a>
        </th>
            {% endif %}
        {% endblock list_thead_column_afterinventory %}

            {% block list_thead_column_createdat %}        {% if (true) %}
        <th class="list-results-fields-header-column list-results-fields-header-column-createdat{% if 1 %} sorting{% if sortColumn == 'createdAt' and sortOrder == 'ASC' %}_asc{% elseif sortColumn == 'createdAt' and sortOrder == 'DESC' %}_desc{% endif %}{% endif %}">
        {% if sortColumn == 'createdAt' and sortOrder == 'ASC' %}
                <a href="{{ path(listRoute, { 'sort': 'createdAt', 'order_by': 'desc'}) }}" class="">
            {% else %}
                <a href="{{ path(listRoute, { 'sort': 'createdAt', 'order_by': 'asc'}) }}" class="">
            {% endif %}{{ 'Создан'|trans({}, 'Admin') }}</a>
        </th>
            {% endif %}
        {% endblock list_thead_column_createdat %}

            {% block list_thead_column_updatedat %}        {% if (true) %}
        <th class="list-results-fields-header-column list-results-fields-header-column-updatedat{% if 1 %} sorting{% if sortColumn == 'updatedAt' and sortOrder == 'ASC' %}_asc{% elseif sortColumn == 'updatedAt' and sortOrder == 'DESC' %}_desc{% endif %}{% endif %}">
        {% if sortColumn == 'updatedAt' and sortOrder == 'ASC' %}
                <a href="{{ path(listRoute, { 'sort': 'updatedAt', 'order_by': 'desc'}) }}" class="">
            {% else %}
                <a href="{{ path(listRoute, { 'sort': 'updatedAt', 'order_by': 'asc'}) }}" class="">
            {% endif %}{{ 'Обновлен'|trans({}, 'Admin') }}</a>
        </th>
            {% endif %}
        {% endblock list_thead_column_updatedat %}

                {% block list_thead_actions %}
            <th class="list-results-fields-header-objectactions">{{ "list.header.actions"|trans({}, "Admingenerator")|raw }}</th>
        {% endblock list_thead_actions %}
        </tr>

        {% endblock list_thead_inner %}
    </thead>
    {% endblock list_thead %}

                            {% block list_tbody %}
        <tbody>
            {% block list_tbody_rows %}
                {% if Inventorys is not empty %}
                    {% for Inventory in Inventorys %}
                        {% include "AppBundle:InventoryList:row.html.twig" with {  } %}
                    {% endfor %}
                {% else %}
                    <tr role="row" class="list-results-fields-row list-results-fields-row-noresults">
                        <td colspan="999">{{ "list.no.results"|trans({}, "Admingenerator")|raw }}</td>
                    </tr>
                {% endif %}
            {% endblock list_tbody_rows %}
        </tbody>
    {% endblock list_tbody %}
        {% block object_actions_script_container %}
    <script type="application/javascript">
        {% block object_actions_script_inner %}
        window.S2A = window.S2A || {};
        window.S2A.singleActionsAdminOptions = {
            containerSelector: 'section.content',
            buttonSelector: '.object-action'
        };
        {% endblock object_actions_script_inner %}
    </script>
    {% endblock object_actions_script_container %}


                    </table>
                </div>
                <div class="box-footer list-footer">
                        {% block list_footer %}
        <div class="row">
            <div class="list-results-actions">
                {% block batch_actions_wrapper %}
                    {% endblock batch_actions_wrapper %}
                {% block generic_actions_wrapper %}
                                            <div class="list-results-actions-generic col-md-12 text-right" role="generic-actions">
                                {% block generic_actions %}
                            {% block pre_generic_actions %}{% endblock pre_generic_actions %}
                
                                    {% set actionCredentials = [ 'AdmingenAllowed' ] %}
                    {% if is_one_admingenerator_granted(actionCredentials) %}
                
                                                    {% block generic_action_new %}
                                            {% if (true) %}
                    
                    
                                    
            <a class="generic-action btn btn-primary" href="{{ path("AppBundle_Inventory_new", {}) }}"><i class="fa fa-fw fa-plus"></i> {{ "action.generic.new"|trans({}, "Admingenerator")|raw }}
        </a>
    

                    
                                            {% endif %}
                                        {% endblock generic_action_new %}
                                    {% block generic_action_excel %}
                                            {% if (true) %}
                    
                    
                                    
            <a class="generic-action btn btn-info" href="{{ path("AppBundle_Inventory_excel", {}) }}"><i class="fa fa-fw fa-file-excel-o"></i> {{ "action.generic.excel"|trans({}, "Admingenerator")|raw }}
        </a>
    

                    
                                            {% endif %}
                                        {% endblock generic_action_excel %}
                
                                    {% endif %}
                                {% block post_generic_actions %}{% endblock post_generic_actions %}
                {% endblock generic_actions %}
    {% block generic_actions_script_container %}
    <script type="application/javascript">
        {% block generic_actions_script_inner %}
        window.S2A = window.S2A || {};
        window.S2A.genericActionsAdminOptions = {
            containerSelector: 'section.content',
            buttonSelector: '.generic-action'
        };
        {% endblock generic_actions_script_inner %}
    </script>
    {% endblock generic_actions_script_container %}

                        </div>
                    {% endblock generic_actions_wrapper %}
            </div>
        </div>
        <div class="row">
            {% block pagination_wrapper %}
                <div class="list-results-pagination">
                        <div class="list-results-pagination-pages col-md-8">
            {% block list_paginator_pages %}
        {% if Inventorys.haveToPaginate %}
            {{ pagerfanta(Inventorys, 'admingenerator', {css_custom_class: 'no-margin pull-right'}) }}
        {% endif %}
    {% endblock list_paginator_pages %}

    </div>
    <div class="list-results-pagination-perpage col-md-4">
            {% block list_paginator_perpage %}
        {% if Inventorys.haveToPaginate or Inventorys.maxPerPage is not same as(perPageChoices|first) %}
            <div class="btn-group dropup pull-right">
                <div class="btn btn-sm btn-default btn-reset">{{ "pagerfanta.view.perpage"|trans({}, "Admingenerator")|raw }}</div>
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                    {{ "pagerfanta.num.elements"|trans({"%number%": Inventorys.maxPerPage}, "Admingenerator") }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu  dropdown-menu-right" role="perpage">
                    {% for perPage in perPageChoices %}
                    <li>
                        {% block list_paginator_perpage_link %}
                            <a href="{{ path("AppBundle_Inventory_list", {perPage: perPage}) }}">
                                {{ "pagerfanta.num.elements"|trans({"%number%": perPage}, "Admingenerator") }}
                            </a>
                        {% endblock list_paginator_perpage_link %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endblock list_paginator_perpage %}

    </div>

                </div>
            {% endblock pagination_wrapper %}
        </div>
    {% endblock list_footer %}

                </div>
                {% block endform_batch_actions %}
            {% endblock endform_batch_actions %}

        </div>
    </div>
